body{
    box-sizing: border-box;
    padding: 80px;
    background: lightblue;
    font-size: 18px;
}
.control-pannel{
    border: 1px solid #666;
    min-height: 100px;
    width: 800px;
    box-sizing: border-box;
    padding: 20px;
}

button{
    margin-left:10px;
    margin-right:10px;
}